<?php 
function custom_title () {
    return "Feature Browser";
}

function rf_topbar () {
    return array (
        'url' => '/features/',
        'title' => 'Features'
    );
}

function extra_scripts () {
  return array(
    'vendor/jquery.validate.min.js',
    'vendor/underscore.min.js',
    'vendor/codemirror/js/codemirror.js',
    'vendor/codemirror/mode/javascript.js',
    'vendor/codemirror/mode/xml.js',
    'vendor/codemirror/mode/htmlmixed.js',
    'vendor/codemirror/mode/clike.js',
    'vendor/codemirror/mode/php.js',
    'js/rfDocs.js'
  );
}

function extra_styles() {
    return array(
        'vendor/codemirror/css/codemirror.css',
        'vendor/codemirror/theme/rftheme.css'
    );
}

if(!function_exists('rf_trackpage')) {
    function rf_trackpage () {
        return array (
            'name' => "Download Start",
            'opts' => array (
            )
        );
    }
}


require $_SERVER['DOCUMENT_ROOT']."/layout/header.php";
?>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul id="docTree" class="rf-tree">
                    <%- articleNav %>
                </ul>
            </div>
            <div class="docContentWrapper">
                <div class="col-md-9 docContent">
                    <% 
                    var classNode = tree.findNodeByClassName(currentClass);
                    if(currentClass != 'index' && (classNode.access && classNode.access.name !== 'private')) { 
                    %>
                        <%- render('class.ejs', {tree: tree, item: tree.findNodeByClassName(currentClass)}) %>
                <% } else { %>
                    <%- render('index.ejs', {}) %>
                <% } %>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
window.doc_is_class = true;
window.doc_id = "<%= lang + '_' + currentClass %>";
</script>
<?php
require $_SERVER['DOCUMENT_ROOT']."/layout/footer.php";

